/* CONTAINERS */



header {
    background-color:rgba(33, 33, 33, 0.9);
    color:#ffffff;
    display:block;
    font: 14px/1.3 Arial,sans-serif;
    height:50px;
    position:relative;
    z-index:5;
    }

   
.page {
    display: grid;
    grid-template-columns: 1fr 6fr;
    column-gap: 10px;
}


/* MENU CONTAINER */ 
.menu-container {
    background-color: #E77B49;
    height: 100vh;
}    


/* CALENDAR CONTAINER */ 
.body-container {
    grid-template-rows: repeat(6, 1fr) ;
} 

/* DAYS OF THE WEEK CONTAINER */ 
.DOW-container {
    width: 100%;
    text-align: center;
    border: 1px solid #95271D;
    border-radius: 10px;
}

/* CALENDAR DAYS CONTAINER */ 
.calendar-days-container {
    text-align: left;
    vertical-align: top;
    font-size: 20px;
}

.day-container {
    background-color: #B34A44;
    border-radius: 10px;
    height: 100px;
}

